<div class="request-pane">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Session Tool</h3>
      <span class="pull-right" ng-click="toggleShow()">{{ visible }}</span>
    </div>
    <div class="panel-body">
      <div class="request">
        <div class="row">
          <div class="col-sm-12">
            <!--  start session -->
            <div class="panel panel-info" >
              <div class="panel-heading">
                <h3 class="panel-title">Start Session (/start_session)</h3>
              </div>
              <div class="panel-body">
                <div class="input-group" ng-hide="session_info.started">
                  <input type="text" class="form-control" value="{{session_info.client_token}}">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="start()">Go!</button>
                  </span>
                </div>

                <div class="well"  ng-hide="!session_info.started">
                  client_token: {{ session_info.client_token }} <br/>
                </div>
              </div>
            </div>

            <!--  verify session -->
            <div class="panel panel-info" ng-hide="!session_info.started">
              <div class="panel-heading">
                <h3 class="panel-title">Verify Session (/verify_session)</h3>
              </div>
              <div class="panel-body">
                <div class="well">
                  client_token: {{session_info.client_token}} <br/>
                  relay_token: {{session_info.relay_token}}
                </div>
                <button class="btn btn-default" type="button" name="button" ng-click="verify()">Verify</button>
              </div>
            </div>
          </div>
        </div>

        <!-- run command -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-success" ng-hide="!session_info.verified">
              <div class="panel-heading">
                <h3 class="panel-title">Command</h3>
              </div>
              <div class="panel-body">
                <div class="request-type-select">
                  <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"
                        ng-class="{active: request.name == activeSession.name}"
                        ng-repeat="command in session.RELAY_COMMANDS"
                        ng-click="changeCommandTab(command)">
                        <a href="#">{{ command }}</a>
                    </li>
                  </ul>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Options</h3>
                  </div>
                  <div class="panel-body">
                    <div class="input-group input-group-sm" ng-repeat="field in activeSession.fields">
                      <span class="input-group-addon" id="sizing-addon3">{{field}}</span>
                      <input type="text" class="form-control" placeholder="{{field}}">
                    </div>
                    <span ng-hide="activeSession.fields.length > 0">No user definable options</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
          <!-- <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default btn-danger" ng-click="cancel">Cancel</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default btn-success" ng-click="send()">Send</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
