<div class="log-pane">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Request Log</h3>
      <span class="pull-right" ng-click="toggleShow()">{{ visible }}</span>
    </div>
    <table class="table">
     <thead>
       <tr>
         <th>type</th>
         <th>time</th>
         <th>url</th>
         <th>data</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="entry in logEntries">
         <td>{{ entry.type }}</td>
         <td>{{ entry.time }}</td>
         <td>{{ entry.url }}</td>
         <td>{{ entry.data }}</td>
       </tr>
     </tbody>
    </table>
  </div>
</div>
