<div class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="">Zax Relay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <form class="form-inline mr-auto">
                    <div class="form-group" ng-show="!editing">
                        <label for="relayURL" class="sr-only">Relay URL</label>
                        <input type="text" readonly class="form-control ml-sm-4 mr-sm-2" placeholder="Relay URL" id="relayURL" ng-model="relay_url" style="width: 300px">
                    </div>
                    <div class="form-group" ng-show="editing">
                        <label for="relayURL2" class="sr-only">Relay URL</label>
                        <input type="text" class="form-control ml-sm-4 mr-sm-2" id="relayURL2" placeholder="Relay URL" ng-model="editing_url">
                    </div>
                    <button class="btn btn-success my-2 mr-2 my-sm-0" ng-show="editing" ng-click="updateRelay()">Save</button>
                    <button class="btn btn-secondary my-2 my-sm-0" ng-click="editing = !editing">{{ editing ? 'Cancel' : 'Change' }}</button>
                </form>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="http://bit.ly/nacl_relay_spec" target="_blank">Technical spec</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/vault12/zax-dash" target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://slack.vault12.com/" target="_blank">Slack</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<div class="alert alert-dismissible alert-danger">
        <div class="container">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>This relay should not be used in production situations.</strong>
            We often deploy new versions of this node without notice. For testing purposes,
            <pre>relay.mailbox_timeout</pre> is set for 30 minutes.
        </div>
    </div>-->
</div>
<!--
<div class="panel panel-primary info-pane" ng-hide="infoVisible">
    <div class="panel-heading">
        <h3 class="panel-title">INFO: This is a
            <i>Zax</i> instance at
            <b>{{relay_url}}</b>
            <i class="glyphicon glyphicon-remove pull-right" ng-click="infoVisible = !infoVisible"></i>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <img src="logo.png" />
                <b>Welcome!</b> This node runs the latest development version of
                <a href="https://github.com/vault12/zax" target="_blank">Zax</a>. Zax is a
                <a href="https://s3-us-west-1.amazonaws.com/vault12/zax_infogfx.jpg" target="_blank">NaCl-based Cryptographic Relay</a>. You can read the full
                <a href="http://bit.ly/nacl_relay_spec" target="_blank">technical specification here</a>. The page you are currently viewing is a
                <a href="https://github.com/vault12/zax-dash" target="_blank">standalone application</a>, designed to provide user-friendly access to this Zax instance. It is bundled
                with the Zax source in the
                <pre>/public</pre> directory. If you have any questions on how to use the Zax cryptography stack, please
                <a href="https://slack.vault12.com/" target="_blank">join our Slack community</a>.
                <hr>
                <div class="alert alert-danger" role="alert">
                    This Relay should
                    <u>not be used</u> in production situations. We often deploy new versions of this node without notice. For
                    testing purposes,
                    <pre>relay.mailbox_timeout</pre> is set for 30 minutes.
                </div>
            </div>
        </div>
    </div>
</div>-->